nodes/working-group-roles/ISC - Scribe.json
{
  "name": "ISC - Scribe",
  "nodes": [
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1dYmjpLdxiLmmfuYwKvmlDuNjjuPpXeXHfuAHTsu335w",
          "mode": "list",
          "cachedResultName": "ISPO Working Group Meeting - YYYY - MM - DD",
          "cachedResultUrl": "https://docs.google.com/document/d/1dYmjpLdxiLmmfuYwKvmlDuNjjuPpXeXHfuAHTsu335w/edit?usp=drivesdk"
        },
        "name": "=ISPO Working Group Meeting - {{ $('Template Fields').item.json.year }} - {{ $('Template Fields').item.json.month }} - {{ $('Template Fields').item.json.day }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1264,
        0
      ],
      "id": "a129cb77-0fd0-419b-a1c4-3360c85dccdb",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Bd8OzpTQIKeOfW9k",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b6211ed5-8312-437e-8ac7-e91b60fdb0dc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "MMMM D, YYYY",
              "replaceText": "={{ $('Template Fields').item.json.longMonth }} {{ $('Template Fields').item.json.day }}, {{ $('Template Fields').item.json.year }}"
            },
            {
              "action": "replaceAll",
              "text": "[Scheduler]",
              "replaceText": "={{ $('Template Fields').item.json.roles?.scheduler || '[Scheduler]' }}"
            },
            {
              "action": "replaceAll",
              "text": "[Sheduler]",
              "replaceText": "={{ $('Template Fields').item.json.roles?.scribe || '[Sheduler]' }}"
            },
            {
              "action": "replaceAll",
              "text": "[Crier]",
              "replaceText": "={{ $('Template Fields').item.json.roles?.crier || '[Crier]' }}"
            },
            {
              "action": "replaceAll",
              "text": "[Facilitator]",
              "replaceText": "={{ $('Template Fields').item.json.roles?.facilitator || '[Facilitator]' }}"
            },
            {
              "action": "replaceAll",
              "text": "[Scribe]",
              "replaceText": "={{ $('Template Fields').item.json.roles?.scribe || '[Scribe]' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1488,
        0
      ],
      "id": "a3b1ecb0-f0b3-4218-8932-91482b5fe76f",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "MnggoHU6JgTfK3gk",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c7ffb97-dac4-4814-b5e9-8852d4f9843e",
              "name": "day",
              "value": "={{ String(new Date($json.body.date + 'T00:00:00Z').getUTCDate()).padStart(2, '0') }}",
              "type": "string"
            },
            {
              "id": "b9767d26-be3b-4c99-a193-9b4ffcde97a5",
              "name": "month",
              "value": "={{ String(new Date($json.body.date + 'T00:00:00Z').getUTCMonth() + 1).padStart(2, '0') }}",
              "type": "string"
            },
            {
              "id": "622a4e48-4042-426b-866d-9987cfb60d10",
              "name": "year",
              "value": "={{ new Date($json.body.date).toLocaleDateString('en-US', { timeZone: 'UTC', year: 'numeric' }) }}",
              "type": "string"
            },
            {
              "id": "342a42a6-1404-4c74-9029-cddcc80ae189",
              "name": "date",
              "value": "={{ $json.body.date }}",
              "type": "string"
            },
            {
              "id": "aa1add67-9623-4343-b357-721fc21b5d51",
              "name": "longMonth",
              "value": "={{ new Date($json.body.date).toLocaleDateString('en-US', { timeZone: 'UTC', month: 'long' }) }}",
              "type": "string"
            },
            {
              "id": "should-overwrite-file",
              "name": "should_overwrite_file",
              "value": "={{ $json.body.should_overwrite_file || false }}",
              "type": "boolean"
            },
            {
              "id": "roles-extract",
              "name": "roles",
              "value": "={{ $json.body?.roles || null }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "7b084bc0-9717-43a1-8ab4-a645f18baf87",
      "name": "Template Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "58784538-42ad-40d8-a32f-26a125c61ebe",
      "name": "Limit to 1 item"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "filename-assignment",
              "name": "filename",
              "value": "=ISPO Working Group Meeting - {{ $json.year }} - {{ $json.month }} - {{ $json.day }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        0
      ],
      "id": "b1c21e63-7236-40a6-b99f-dda33db1f31b",
      "name": "Set filename"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ \"name contains '\" + $json.filename + \"' and trashed=false\" }}"
            },
            {
              "name": "fields",
              "value": "files(id, name, trashed)"
            },
            {
              "name": "pageSize",
              "value": "10"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        0
      ],
      "id": "2a3db4c8-02b5-44da-93f0-3b332107f7e6",
      "name": "Search for file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Bd8OzpTQIKeOfW9k",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "file-exists-check",
              "leftValue": "={{ $json.files.filter(f => f.name == $('Set filename').item.json.filename && !f.trashed).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "should-overwrite-check",
              "leftValue": "={{ $('Template Fields').item.json.should_overwrite_file }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ],
      "id": "192db64c-2b56-4e43-abde-504f950810ae",
      "name": "If file does not exist"
    },
    {
      "parameters": {
        "errorMessage": "Duplicate file exists"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1328,
        208
      ],
      "id": "3bf3e6c6-5f4e-4e8b-b6a4-8e1191099be7",
      "name": "Stop if file exists"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "isc-scribe",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        256
      ],
      "id": "569b8aca-76f7-4a7d-9ae0-f91d20b4ab30",
      "name": "Webhook",
      "webhookId": "62131315-3203-4e26-bcbc-116597cf73bd"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "body": {
            "date": "2026-02-09",
            "should_overwrite_file": true,
            "roles": {
              "scheduler": "Scheduler Role",
              "crier": "Crier Role",
              "facilitator": "Facilitator Role",
              "scribe": "Scribe Role"
            }
          }
        }
      }
    ]
  },
  "connections": {
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Fields": {
      "main": [
        [
          {
            "node": "Limit to 1 item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1 item": {
      "main": [
        [
          {
            "node": "Set filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set filename": {
      "main": [
        [
          {
            "node": "Search for file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for file": {
      "main": [
        [
          {
            "node": "If file does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file does not exist": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Template Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Template Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "019397ce-2f10-4ac3-9b95-ef91353618d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "505d3f2effe3cea9c5bcf74fb293004bb613f932b3d6dd9cc01c7c68e9422333"
  },
  "id": "qlcyjkm_S9lEYJCM991S8",
  "tags": []
}