nodes/working-group-roles/ISC - Crier.json
{
  "name": "ISC - Crier",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.query.channel }}",
          "mode": "name"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"<!here> Reminder: ISPO Working Group call happens {{ $json.weekday }} at {{ $json.query.time }} UTC :tada:\\n\\nThis is an excellent meeting for newcomers looking to learn about InnerSource. All are welcome to join!\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*This meeting's topic:*\\n\\n{{ $json.topic }}\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"fields\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \":spiral_calendar_pad: *Date:*\\n{{ $json.weekday }}, {{ $json.monthName }} {{ $json.dayOrdinal }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \":alarm_clock: *Time:*\\nMultiple time zones below\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Time Zones:*\\n• 8:00 AM PST (Pacific Standard Time)\\n• 9:00 AM PDT (Pacific Daylight Time)\\n• 11:00 AM EST (Eastern Standard Time)\\n• 4:00 PM BST (British Summer Time)\\n• 5:00 PM CEST (Central European Summer Time)\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \":link: <https://drive.google.com/drive/u/0/folders/1vFJPuQ5l0hKIlC58qjdV1MNSIhdoSBCz?ths=true|Meeting Notes>\\n:link: <https://innersourcecommons.org/calendar/|InnerSource Commons Calendar>\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"Join Meeting\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"url\": \"https://us06web.zoom.us/j/84987611486?pwd=Biw6cc9UwWI6FrM51Ugox10sClIP6n.1\",\n\t\t\t\t\t\"style\": \"primary\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t]\n}",
        "text": "=",
        "otherOptions": {
          "includeLinkToWorkflow": "={{ false }}",
          "link_names": "={{ false }}",
          "unfurl_links": "={{ false }}",
          "unfurl_media": "={{ false }}"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        896,
        0
      ],
      "id": "19290184-86aa-4434-a1d0-84f917c11934",
      "name": "Send a message",
      "webhookId": "a98506f5-5fff-49f7-acfe-9faab97fe78e",
      "credentials": {
        "slackOAuth2Api": {
          "id": "UChla6X5zMTanPIu",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a0dffd31-ebfb-4b23-8399-566972a8042e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prepare-utc-date",
              "name": "utcDate",
              "value": "={{\n  (() => {\n    let dateStr = $json.query.date;\n    let timeStr = $json.query.time;\n    \n    // Extract date part if it includes time\n    if (dateStr.includes('T')) {\n      dateStr = dateStr.split('T')[0];\n    }\n    \n    // Normalize time string to HH:MM:SS format\n    const timeParts = timeStr.split(':');\n    if (timeParts.length === 2) {\n      timeStr = timeStr + ':00';\n    }\n    \n    // Create ISO 8601 UTC datetime string\n    return dateStr + 'T' + timeStr + 'Z';\n  })()\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "3122525a-b8b2-4b34-8de6-73d4a7d4227c",
      "name": "Prepare UTC Date"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee13ed18-58d4-4904-bd27-dc6063af8658",
              "name": "topic",
              "value": "={{ $json.query.topic }}",
              "type": "string"
            },
            {
              "id": "a25c1a86-f313-47d3-890c-a69e276d177d",
              "name": "weekday",
              "value": "={{\n  (() => {\n    const utcDate = new Date($json.utcDate);\n    const dayNames = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];\n    return dayNames[utcDate.getUTCDay()];\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "03d27bc9-fc80-4297-a2bd-4df85aa2ec85",
              "name": "dayOrdinal",
              "value": "={{\n  (() => {\n    const utcDate = new Date($json.utcDate);\n    const d = utcDate.getUTCDate();\n    const j = d % 10;\n    const k = d % 100;\n\n    let s = 'th';\n    if (k !== 11 && k !== 12 && k !== 13) {\n      if (j === 1) s = 'st';\n      else if (j === 2) s = 'nd';\n      else if (j === 3) s = 'rd';\n    }\n\n    return String(d) + s;\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "d50d03a9-d0ea-4e6a-8c15-f6684eaac8ed",
              "name": "monthName",
              "value": "={{\n  (() => {\n    const utcDate = new Date($json.utcDate);\n    const monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];\n    return monthNames[utcDate.getUTCMonth()];\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "f34837b3-ac4b-478e-908b-08041e85de34",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ $json.query.channel }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        0
      ],
      "id": "82eb4676-682d-4aa9-b919-71882a9b9a50",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "path": "ispo-working-group/crier",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        192
      ],
      "id": "c5f6b103-5be8-4182-b036-e80cee21f2ec",
      "name": "Webhook",
      "webhookId": "0ce14788-827f-4d45-bb3d-b19bac30bfb7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "date-check",
              "leftValue": "={{ $json.query.date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "time-check",
              "leftValue": "={{ $json.query.time }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "397c8e21-59ce-44b4-8a3d-ec1c26b66cbe",
              "leftValue": "={{ !$json.query.time || !$json.query.date}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        96
      ],
      "id": "5c9d860d-6178-4146-be4a-be56418fd102",
      "name": "Validate date and time"
    },
    {
      "parameters": {
        "errorMessage": "Both 'date' and 'time' query parameters are required. Please provide UTC date (e.g., '2024-11-23') and UTC time (e.g., '16:00:00')."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        448,
        192
      ],
      "id": "7b41c2f8-bbf1-4ed9-8de2-ef4e00e3bef7",
      "name": "Stop on error"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "query": {
            "date": "2025-12-15",
            "time": "16:00",
            "topic": "Contributor Journey Optimization — facilitate the journey of project stakeholders in becoming contributors, https://github.com/InnerSourceCommons/ispo-working-group/issues/157",
            "channel": "ispo-working-group"
          }
        }
      }
    ]
  },
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate date and time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate date and time": {
      "main": [
        [
          {
            "node": "Prepare UTC Date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop on error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare UTC Date": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Validate date and time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "077dbe6d-e464-490b-8ad2-d3ebc2769438",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8e13a09ffa43327fd701e439b2a9b8e9a88dafc831863b024ea71f9a540b17f"
  },
  "id": "0cUOgYQmO91ZKOGN",
  "tags": []
}