nodes/Get Member Emails.json
{
  "name": "Get Member Emails",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        640,
        96
      ],
      "id": "2360eaf2-9d7e-4b07-bc9f-70c83186cdda",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "url": "https://slack.com/api/conversations.members?channel=G0134RBUXHP",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        848,
        96
      ],
      "id": "6a534534-eecd-488c-ac2e-a8ab4f5198df",
      "name": "HTTP Request",
      "credentials": {
        "slackOAuth2Api": {
          "id": "H7foJgyMUJ9V0NzY",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "members",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1072,
        96
      ],
      "id": "d75f040c-0726-48e5-aece-001916cce46a",
      "name": "Split Out Members"
    },
    {
      "parameters": {
        "url": "=https://slack.com/api/users.info?user={{ $json.members }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        96
      ],
      "id": "820d3759-a3e2-4afc-b441-b76980a72e57",
      "name": "HTTP Request1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "H7foJgyMUJ9V0NzY",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Members": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3afb9b8d-1e7f-4a1c-adcb-27fae89b043e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "505d3f2effe3cea9c5bcf74fb293004bb613f932b3d6dd9cc01c7c68e9422333"
  },
  "id": "nqgsTxKFtbCOF1wP-E3j-",
  "tags": []
}