nodes/New Member Introduction.json
{
  "name": "New Member Introduction",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "28bd7ce5-56b3-4fc5-9cb2-a06971917b0e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/conversations.open",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"users\": \"{{ $json.new_user_id }},U01UF8JNY5R,U4S1WTCHG,U07FM5PSB7T\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        96
      ],
      "id": "af2bb429-347c-41cb-8c49-2887ddb17004",
      "name": "Open Slack Group Conversation",
      "credentials": {
        "slackOAuth2Api": {
          "id": "jJUiNyM7wsenzEnu",
          "name": "Slack OAuth2 API"
        },
        "slackApi": {
          "id": "bQmwtArWlEan0get",
          "name": "Slack account Bot Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $json.channel.id }}\",\n  \"blocks\": {{ JSON.stringify($('Slack Welcome Message (Block Kit)').item.json.blocks) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        96
      ],
      "id": "dc3191e0-bee3-4ea3-970f-012030411d63",
      "name": "Start Group Chat",
      "credentials": {
        "slackOAuth2Api": {
          "id": "jJUiNyM7wsenzEnu",
          "name": "Slack OAuth2 API"
        },
        "slackApi": {
          "id": "bQmwtArWlEan0get",
          "name": "Slack account Bot Token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "081acc5e-24d0-4f96-8d91-663593c9f48e",
              "name": "new_user_display_name",
              "value": "={{ $json.new_user_display_name || $json.user.real_name }}",
              "type": "string"
            },
            {
              "id": "b7d48053-35dc-464c-9360-3a141016492e",
              "name": "new_user_id",
              "value": "={{ $json.new_user_id || $json.user.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        96
      ],
      "id": "b7c1e8fd-e745-4cb4-a23e-f3713c707182",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "trigger": [
          "team_join"
        ],
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9114935c-bd25-4ef0-a3f0-0802856149d6",
      "name": "New User Slack Trigger",
      "webhookId": "dbb44d52-6b1b-49b8-8015-222231497d5c",
      "credentials": {
        "slackApi": {
          "id": "bQmwtArWlEan0get",
          "name": "Slack account Bot Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Edit the blocks array below to match Slack Block Kit. Copy the whole blocks array\n// and paste into https://app.slack.com/block-kit-builder/ to preview.\n// block_kit_builder_url in the output opens the builder with this payload.\nconst displayName = $input.first().json.new_user_display_name || 'there';\nconst blocks = [\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Hey ${displayName}!*\\n\\nWelcome to the InnerSource Commons! It's so cool you're here! 🎉\\n\\nThis is a global community of practitioners, researchers, and curious minds all exploring how open collaboration works inside organizations.`\n    }\n  },\n  { type: 'divider' },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: \"👋 *Head over to <#C0867TAF63H|newcomers> and tell us a little about yourself, or choose how you'd like to get started:*\"\n    }\n  },\n  {\n    type: 'actions',\n    elements: [\n      { type: 'button', text: { type: 'plain_text', text: '📖 Quick Start Guide', emoji: true }, url: 'https://innersourcecommons.org/community/quick-start-guide/' },\n      { type: 'button', text: { type: 'plain_text', text: '📅 Join a Meeting', emoji: true }, url: 'https://innersourcecommons.org/community/calendar/' },\n      { type: 'button', text: { type: 'plain_text', text: '🏢 Pattern Library', emoji: true }, url: 'https://patterns.innersourcecommons.org/' }\n    ]\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: '🌍 Join a Regional Community: <#C07MXDSG2P8|africa> <#C03M546NR16|japan>'\n    }\n  },\n  { type: 'divider' },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: '🔎 *Explore channels that match your interests:*\\n\\n• <#C2EFRTS6A|innersource-patterns> — practical patterns for making innersource work\\n• <#C046MD5R5RT|local-community> — find or start a gathering near you\\n• <#C04DT6NQX7G|ispo-working-group> — dive into standards and best practices'\n    }\n  },\n  { type: 'divider' },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: '💬 Looking for something else? Ask in <#C04PXKRN4|general>, and the community will be happy to help!'\n    }\n  }\n];\nconst payload = { blocks };\nconst blockKitBuilderUrl = 'https://app.slack.com/block-kit-builder/T04PXKRM0#' + encodeURIComponent(JSON.stringify(payload));\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    blocks,\n    blocks_json: JSON.stringify(payload, null, 2),\n    block_kit_builder_url: blockKitBuilderUrl\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        96
      ],
      "id": "ecb9ca3f-a50b-4f0e-9124-956ea0ad2914",
      "name": "Slack Welcome Message (Block Kit)"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "new_user_display_name": "Mock New Member",
          "new_user_id": "U01UF8JNY5R"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Slack Group Conversation": {
      "main": [
        [
          {
            "node": "Start Group Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Slack Welcome Message (Block Kit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Welcome Message (Block Kit)": {
      "main": [
        [
          {
            "node": "Open Slack Group Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New User Slack Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "de7a633d-31cc-4c66-8703-a2ed17d74202",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42566e2b3b77f028e93e74b7c60d9194d35d5cfbf8340b4442416b191d1e3a55"
  },
  "id": "OPldvZLObaJrku8S",
  "tags": []
}