nodes/Send Bulk DM.json
{
  "name": "Send Bulk DM",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3344,
        496
      ],
      "id": "6db0d7d4-51a7-4826-863f-8e94ef26311e",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.allMembers = [];\nreturn [{ json: { cursor: '' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        496
      ],
      "id": "434128a5-2164-4b86-89ac-cad27a1edb36",
      "name": "Init Pagination"
    },
    {
      "parameters": {
        "url": "=https://slack.com/api/conversations.members?channel=C04PXKRN4&limit=1000{{ $json.cursor ? '&cursor=' + $json.cursor : '' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3744,
        496
      ],
      "id": "97b2c20e-f7a0-402a-ba36-1a6ad92677ad",
      "name": "Get Members Page",
      "credentials": {
        "slackOAuth2Api": {
          "id": "H7foJgyMUJ9V0NzY",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst response = $input.first().json;\nif (response.members) {\n  staticData.allMembers.push(...response.members);\n}\nconst nextCursor = response.response_metadata?.next_cursor || '';\nreturn [{ json: { cursor: nextCursor } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        496
      ],
      "id": "54845711-12fa-4ceb-83a0-5ec65c430a75",
      "name": "Collect Members"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-cursor-check",
              "leftValue": "={{ $json.cursor }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4192,
        496
      ],
      "id": "8b29f301-2be3-480b-8d35-3f404f5053f2",
      "name": "Has More Pages"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst allMembers = staticData.allMembers || [];\nreturn [{ json: { members: allMembers } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4416,
        672
      ],
      "id": "e6acb81c-9a4b-446b-970e-738192879a9e",
      "name": "Output All Members"
    },
    {
      "parameters": {
        "fieldToSplitOut": "members",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4624,
        672
      ],
      "id": "a7217e54-9c72-4bb9-89e4-dfe06e008074",
      "name": "Split Out Members"
    },
    {
      "parameters": {
        "url": "=https://slack.com/api/users.info?user={{ $json.members }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 18,
              "batchInterval": 61000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4848,
        672
      ],
      "id": "676b13dc-bfd1-4b18-be6b-8643de2e9503",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "slackOAuth2Api": {
          "id": "H7foJgyMUJ9V0NzY",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Init Pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Pagination": {
      "main": [
        [
          {
            "node": "Get Members Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Members Page": {
      "main": [
        [
          {
            "node": "Collect Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Members": {
      "main": [
        [
          {
            "node": "Has More Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has More Pages": {
      "main": [
        [
          {
            "node": "Get Members Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output All Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output All Members": {
      "main": [
        [
          {
            "node": "Split Out Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Members": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d9773ed5-f245-4a21-b68c-5b861c3f038a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "505d3f2effe3cea9c5bcf74fb293004bb613f932b3d6dd9cc01c7c68e9422333"
  },
  "id": "Nd6pMrthu81Hcojj",
  "tags": []
}